
@media screen and (max-width: 1200px) and (min-width: 992px){
	.block-col:nth-child(3n+1){
		clear: both;
	}
}
@media screen and (min-width: 1024px){
	.sub_menu_list{
		width: 740px;
	}
}
@media screen and (min-width: 1080px){
	.sub_menu_list{
		width: 780px;
	}
}
@media screen and (min-width: 1120px){
	.sub_menu_list{
		width: 812px;
	}
}
@media screen and (min-width: 1140px){
	.sub_menu_list{
		width: 832px;
	}
}
@media screen and (min-width: 1170px){
	#content-area-list.content-area-list{
		width: 59.222223%;
	}
	.grid-toggle{
		width: 40%;
	}
	.sub_menu_list{
		width: 852px;
	}
}
@media screen and (min-width: 1185px){
	.submenunav.submenunav-scroll{
		left: -15px;
	}
	.sub_menu_list{
		width: 862px;
	}
}
@media screen and (min-width: 1200px){
	.submenunav.submenunav-scroll{
		left: -15px;
	}
}
@media screen and (max-width: 991px){
	.block-col:nth-child(odd){
		clear: both;
	}
	.rest-row .col-card{
		float: right;
	}
}
@media screen and (min-width: 768px){
	.carousel-control{
	    width: 40px;
	    height: 40px;
	}
	.carousel-control .icon-prev{
		left: 15px;
	}
	.carousel-control .icon-next{
		right: 15px;
	}
	div.header-mobi{
	    display: none;
	}
	.content>.container{
		width: auto;
	}
	.price-oradd {
		position: absolute;
	    top: 50%;
	    right: 0;
	    transform: translate(0%,-50%);
	}
	#content-area-grid .price-oradd{
		position: relative;
		transform: none;
	}
	.block-order .order-img img{
		width: 170px;
	}
}
@media screen and (min-width: 992px){
	.block-content .block-item{
		min-height: 240px;
	}
	.col-rest:nth-child(3n+1){
		clear: both;
	}
	.sidebar-left .toolbar-cate{
		height: 40px;
	}
	.rest-row.col-row{
	    position: absolute;
	    top: 50%;
	    transform: translate(0%, -50%);
	    right: 0;
	}
	.rest-row .col-card{
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	.rest-row.row-image img{
		min-height: 130px;
	}
	.content>.container{
		width: auto;
	}
	.subnav-wrapper .col-md-9, .content-restaurants .main-content.col-md-9{
		padding-left: 0;
	}
}
@media screen and (min-width: 1200px){
	.subnav-wrapper{
		max-width: 1180px;
	}
	.content>.container {
	    width: 1170px;
	}
	#content-area-list.content-area-list .order-img,
	#content-area-list.content-area-list .price-oradd{
		width: 100%;
	}
	#content-area-list.content-area-list .order-img{
		padding-right: 0;
	}
	#content-area-list.content-area-list .price-oradd {
		position: relative;
		transform: unset;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.footer .block-app span a{
		width: 100%;
		font-size: 14px;
	}
	.header-menu .logo{
		line-height: 3.5;
	}
	ul.category-list li a{
		padding-left: 15px;
	}
	.header-menu .container, .content .container, .footer .container{
		width: auto;
	}
}
@media screen and (max-width: 991px){
	.toolbar-cate,.left-content{
		display: none;
	}
	.toolbar-list>.mobi-cate{
		display: inline-block;
	}
}
@media screen and (max-width: 767px){
	nav.navbar{
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.header-top-right .right-top{
		float: left;
	}
	.header-top-right .right-top a{
		padding-right: 10px;
	}
	.block-content .block-title{
		font-size: 26px;
	}
	.header-menu .logo{
		float: none;
		margin: auto;
	}
	.header-menu .logo img{
	    margin: auto;
    	display: block;
	}
}
@media screen and (max-width: 640px){
	#cart-product.cart-product{
		width: 100%!important;
	}
	#right-content{
		width: 100%;
	}
	.cart-content{
		width: calc(100% - 30px);
	}
	#cart-product.cart-product{
	    position: absolute;
	    top: 0;
	    margin-left: -10px;
	    bottom: 0;
        min-height: 50px;
        padding: 10px 20px;
	}
	#cart-product{
		padding: 5px 20px;
		width: auto;
	}
	#cart-product.cart-product #frm-kind{
	   min-height: 50px;
	   line-height: 50px;
	}
	#cart-content.cart-content{
		margin-left: 0;
	}
	.subnav-wrapper .col-md-9{
		padding: 0;
	}
	.subnav-wrapper .grid-toggle{
		padding-left: 5px;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px){
	.block-content .block-item{
		min-height: 260px;
	}
	.footer .block-footer:nth-child(odd){
		clear: both;
	}
}
@media screen and (max-width: 575px){
	.footer .block-footer{
		width: 100%;
		padding-left: 20px;
	}
	.modal-body-noti h3{
		font-size: 26px;
	}
	.modal-body-noti span{
		font-size: 18px;
	}
}
@media screen and (min-width: 461px) and (max-width: 575px){
	.block-content .block-item{
		min-height: 300px;
	}
	.rest-image{
		height: 180px;
	}
	.rest-image img{
		height: 150px;
	}
}
@media screen and (min-width: 461px) and (max-width: 991px){
	.rest-row.col-row p{
		width: 50%;
		display: block;
		float: left;
		padding: 10px 0 5px 10px;
	}
	.rest-row.text-row p span{
		display: none;
	}
}
@media screen and (max-width: 460px){
	.block-col{
		width: 100%;
	}
	.header-menu .logo img{
		width: 250px;
		height: 35px;
	}
	.col-rest{
		float: none;
		width: 100%;
	}
	.col-rest:nth-child(odd){
		clear: both;
	}
	.rest-row{
		width: 100%;
		padding: 10px;
	}
	.rest-row.row-image img{
		display: block;
		margin: auto;
	}
	.rest-row h3{
		padding: 0 10px;
		margin-top: 0;
	}
	.rest-row p{
		padding: 5px 10px 0;
	}
	.rest-row.col-row{
		padding-top: 0;
	}
}
@media screen and (max-width: 420px){
	#cart-product.frm-kind{
		float: none;
	    margin-top: 10px;
	    padding-left: 50px;
	    background-position-x: 0;
	}
	.block-order .col-order{
		width: 100%;
	}
	.block-order .order-img img{
		max-height: 130px;
	}
	.frm-search .input-group{
		left: -85px;
	}
}
@media screen and (max-width: 360px){
	div.header-mobi{
		left: -5px;
	}
	.header-top-right .right-top .img-user{
		display: inline-table;
	}
	.right-top .img-user>span{
		padding-left: 15px;
	}
}